<div class='comment' data-comment-id='{{id}}' data-user-id="'{{user_id}}">
  <p style='color: white'><span class='comment-date'>{{format_date
        date_created
      }}</span>
    |
    <span class='comment-username'>By {{user.username}}</span>
  </p>
  <p class='comment-text'>{{text}}</p>
</div>