<div class='login-container'>
  <h2 class='login-heading'>Welcome, {{username}}!</h2>
</div>
<div class='login-container'>
  <h3 class='login-message'>Create a New Blog:</h3>
  <form id='newBlog' data-user="{{id}}">
    <fieldset>
      <label for='blog-title' class='login-label'>Title:</label>
      <input class='form-input' id='blog-title' name='blog-funding' />
    </fieldset>
    <fieldset>
      <label for='blog-summary' class='login-label'>Summary:</label>
      <textarea class='form-input' id='blog-summary' name='blog-summary'></textarea>
    </fieldset>
    <fieldset>
      <label for='blog-text' class='login-label'>Text:</label>
      <textarea class='form-input' id='blog-text' name='blog-text'></textarea>
    </fieldset>
    <button type='submit' class='login-button'>Create</button>
  </form>
</div>

{{#if blogs.length}}
    <h3>Your Blogs:</h3>
    {{#each blogs as |blog|}}
    <div class='blog' data-id="{{blog.id}}">
       {{> blog-details}}
        <p class="blog-text">{{text}}</p>
      <button class="login-button edit-button" data-id='{{blog.id}}' >EDIT</button>
      <button class="login-button delete-button" data-id='{{blog.id}}' >DELETE</button>
    </div>
    {{/each}}
{{/if}}

<script src='./js/dashboard.js'></script>